[Unit]  
Description=Consul Docker container           
After=docker.service
Requires=docker.sercice
        
[Service]           
ExecStart=$BASE_DIR/consul/start.sh
ExecStop=/usr/bin/docker stop consul
ExecStopPost=/usr/bin/docker rm consul

        
[Install]       
WantedBy=multi-user.target