[Unit]
Description=Registrator Docker container
Wants=network-online.target
After=network-online.target docker.service consul.service
Requires=docker.service consul.service

[Service]
ExecStart=$BASE_DIR/registrator/start.sh
ExecStop=/usr/bin/docker stop registrator
ExecStopPost=/usr/bin/docker rm registrator
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target